body {
  margin: 0;
  padding: 0;
  background-color: rgb(189,194,201);
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 100px;
  padding: 20px;
  background-color: rgb(236,239,242);
}